{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About Page</h1>
            <p>This is the about page of the website.</p>
            <p>We provide information about our mission and values.</p>
            <p>Contact us for more details.</p>
            <p>Thank you for visiting our website!</p>
        </div>
    </div>
</div>
{{end}}
