{{template "base" .}}

{{define "content"}}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p>Welcome to the home page of the website.</p>
            <img src="/static/images/outside.png" class="img-fluid" height="1330" width="2364"/>
        </div>
    </div>
</div>
{{end}}
